<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin | Instagram</title>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="row" style="padding: 20px;">
		<div class="col-12" align="center">
			<button type="submit" class="btn btn-primary" value="testing" onclick="popup()">Login with Facebook</button>
		</div>
	</div>
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
	    function popup() {
	        window.open("https://www.facebook.com/v3.0/dialog/oauth?client_id=186865125399490&redirect_uri=https://java-cif-linkedin.herokuapp.com/instagram/callback&state={\"{test:123}\"}&scope=business_management%2Cmanage_pages%2Cinstagram_basic%2Cinstagram_manage_comments", 'window', 'width=600,height=400')&;
	        // window.open("http://localhost:5000/instagram/callback?code=123", 'window', 'width=600,height=400');
	    }
	    
	    function CallParent (code) {
	    	window.open("./submit?token=" + code, "_self");
	    }
	</script>
</body>
</html>