<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Get Token | Instagram</title>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="row" style="padding: 40px;">
		<div class="col-12" align="center">
			<!-- <form action="../submit/" method="get"> -->
				<textarea class="form-control" rows="5" id="tokenarea" placeholder="Insert your token here.."></textarea>
				<button type="submit" class="btn btn-primary" value="testing" onclick="popup();" style="margin-top: 20px;">Submit</button>
			<!-- </form> -->
		</div>
	</div>
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
	    function popup() {
	    	var token = document.getElementById("tokenarea");
	    	console.log(token.value);
	        window.open("../submit?token=" + token.value , "_top");
	    }
	</script>
</body>
</html>