<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin | Instagram</title>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="row" style="padding: 20px;">
		<form action="admin" method="post">
			<div class="form-group">
				<label for="usr">App ID:</label> <input type="text"
					class="form-control" name="appId" placeholder="Input App ID here.."
					value="186865125399490">
			</div>
			<div class="form-group">
				<label for="pwd">App Secret:</label> <input type="password"
					class="form-control" name="appSecret"
					placeholder="Input App Secret here.."
					value="8ab339714df67aa953c7842d193c470f">
			</div>
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				Next
			</button>
		</form>

	</div>
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>